@model FCC.Teste.Core.Request.LoginRequest

@{
    ViewData["Title"] = "Erro de Login";
}

<h2>Erro de Login</h2>

<p>Usuário ou senha inválidos. Por favor, verifique suas credenciais e tente novamente.</p>
<a asp-action="Index" asp-controller="Login" class="btn btn-primary">Voltar para Login</a>