@model DeleteCustomerDto

@{
    ViewData["Title"] = "Remoção de Cadastro";
}

<h2>Remoção de Cadastro de Cliente</h2>

<p>Remoção realizada com sucesso</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Voltar</a>