@model CreateCustomerDto

@{
    ViewData["Title"] = "Erro na requisição";
}

<h2>Erro de Login</h2>

<p>Erro na atualização do cliente, tente novamente.</p>
<a asp-action="Index" asp-controller="Customer" class="btn btn-primary">Voltar para Login</a>